In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

In [2]:
train = pd.read_csv("./Data/train_clean.csv")
test = pd.read_csv("./Data/test_clean.csv")

target = train["Survived"]
train = train.drop(["Survived"], axis=1)

In [3]:
train.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  1.0   0.0    2.0         0    0.0           2
1       1    1  3.0   2.0    0.8         1    2.0           2
2       3    1  1.0   0.0    2.0         0    1.0           1
3       1    1  2.0   2.0    0.8         0    2.0           2
4       3    0  2.0   0.0    2.0         0    0.0           1

In [22]:
test.head()

   PassengerId  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0          892       3    0  2.0   0.0    2.0         2    0.0           1
1          893       3    1  3.0   0.0    2.0         0    2.0           2
2          894       2    0  3.0   0.0    2.0         2    0.0           1
3          895       3    0  2.0   0.0    2.0         0    0.0           1
4          896       3    1  1.0   0.0    2.0         0    2.0           3

In [4]:
test.fillna(test["Fare"].median(), inplace=True)

In [5]:
test.head()

   PassengerId  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0          892       3    0  2.0   0.0    2.0         2    0.0           1
1          893       3    1  3.0   0.0    2.0         0    2.0           2
2          894       2    0  3.0   0.0    2.0         2    0.0           1
3          895       3    0  2.0   0.0    2.0         0    0.0           1
4          896       3    1  1.0   0.0    2.0         0    2.0           3

Crossvalidation:

### kNN

In [6]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [7]:
clf = KNeighborsClassifier(n_neighbors = 15)
scoring = "accuracy"
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.81111111 0.78651685 0.83146067 0.84269663 0.80898876 0.84269663
 0.82022472 0.78651685 0.83146067 0.86516854]

In [8]:
# knn Score
round(np.mean(score)*100, 2)

82.27

### Decision tree

In [9]:
clf = DecisionTreeClassifier()
scoring = "accuracy"
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.76666667 0.82022472 0.7752809  0.7752809  0.88764045 0.76404494
 0.82022472 0.82022472 0.74157303 0.79775281]

In [10]:
round(np.mean(score)*100, 2)

79.69

### Random Forest

In [11]:
clf = RandomForestClassifier(n_estimators=13)
scoring = "accuracy"
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.82222222 0.85393258 0.79775281 0.78651685 0.91011236 0.80898876
 0.83146067 0.82022472 0.74157303 0.82022472]

In [12]:
round(np.mean(score)*100, 2)

81.93

### Naive Bayes

In [13]:
clf = GaussianNB()
scoring = "accuracy"
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.85555556 0.73033708 0.75280899 0.75280899 0.70786517 0.80898876
 0.76404494 0.80898876 0.86516854 0.83146067]

In [14]:
round(np.mean(score)*100, 2)

78.78

### SVM

In [15]:
clf = SVC()
scoring = "accuracy"
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.82222222 0.79775281 0.83146067 0.82022472 0.84269663 0.82022472
 0.83146067 0.84269663 0.84269663 0.86516854]

In [16]:
round(np.mean(score)*100, 2)

83.17

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [23]:

test_data.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  2.0   0.0    2.0         2    0.0           1
1       3    1  3.0   0.0    2.0         0    2.0           2
2       2    0  3.0   0.0    2.0         2    0.0           1
3       3    0  2.0   0.0    2.0         0    0.0           1
4       3    1  1.0   0.0    2.0         0    2.0           3

In [24]:
train.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  1.0   0.0    2.0         0    0.0           2
1       1    1  3.0   2.0    0.8         1    2.0           2
2       3    1  1.0   0.0    2.0         0    1.0           1
3       1    1  2.0   2.0    0.8         0    2.0           2
4       3    0  2.0   0.0    2.0         0    0.0           1

In [28]:
clf = SVC()
clf.fit(train, target)

test_data = test.drop("PassengerId", axis=1).copy()
prediction = clf.predict(test_data)

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  1.0   0.0    2.0         0    0.0           2
1       1    1  3.0   2.0    0.8         1    2.0           2
2       3    1  1.0   0.0    2.0         0    1.0           1
3       1    1  2.0   2.0    0.8         0    2.0           2
4       3    0  2.0   0.0    2.0         0    0.0           1

In [29]:
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived": prediction
})

submission.to_csv("submission.csv", index=False)